#wrapper{

margin-left: auto;
margin-right: auto;
width: 100%;

}

header{
  width: 100%;
  height: 150px;
  background: linear-gradient(to right, #66ccff 0%, #005580 81%);
  text-align: center;
  color: #000000;
  font-size: 40px;
  background-color: #66ccff;

}
nav{
  width: 100%;
  height: 40px;
  background: #f2f2f2;
  text-align: center;
  color:  #000000;
}
 #mainwrapper{

display:flex;
}
main{
  width: 75%;
  height: 895px;
  background-color: #ffffff;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 10px;


}
aside{
  width: 18.75%;
  height: 945px;
  background-color: #f2f2f2;


}
footer{
  width: 100%;
  height: 75px;
  background: linear-gradient(to right, #66ccff 0%, #005580 81%);

}
a{
  text-decoration: none;
  font-size: 20px;
}

a:link, a:visited {
  background-color: #f2f2f2;
  color: #0088cc;
  border: 2px solid #0088cc;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 5em;
  height: 1.9em;
  padding-left: 1px;
}
ul { list-style-type: none; }
a:hover, a:active {
  background-color: #0088cc;
  color: #f2f2f2;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
