header {
  grid-area: header;
  background-color: black;
  text-align: center;
}
#logga{
  margin-left: 30%;
  width:200px;
  height: 150px;
  background: url('../bilder/LoggaOchStämpel.png') 0 0;

}
#stämpel{
  width: 200px;
  height: 150px;
  background: url('../bilder/LoggaOchStämpel.png') -200px 0;
  margin-left: 15%;
}
nav{
  grid-area: nav;
  background-color: #660000;

}
.dropbtn {
  background-color: #660000;
  color: white;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  padding-left: 100%;
}

.dropdown {

  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #660000;
}

footer {
  grid-area: footer;
  background-color: #1a0000;
}

.sidebar-left {
  grid-area: sidebar-1;
  background-color: red;
  background-image: url("../bilder/träplank.jpg");
}

main {
  grid-area: main;
  background-color: black;
}
#startcontainer{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
#pizzacontainer{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#pizzacontainer div{
  margin: 1%;
  width: 30%;
  background-color: white;
  border-style: solid;
}
#containerslider{
  margin-left: 10%;
}
#fakta{
  width: 100%;
  height: 40%;
  margin-left: 10%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
#maps{
  width: 30%;
  height: 70%;

}
iframe{
width:100%;
height:100%;
border:0px;
}
#infotext{
  width: 30%;
  height: 75%;
  background-color: white;
  margin-top: 2%;
  border-radius: 4%;

}
#window{

  height: 200px;
  width: 200px;

}

#imgs{

  height: 200px;
  width: 608px;
  position: relative;

}


.dot{

  display: flex;

}
#dot1{
  height: 10px;
  width: 10px;
  background-color: white;
  margin-left: 45px;
  display: none;
  border-radius: 10px;
  border-style: solid;
}
#dot2{
  height: 10px;
  width: 10px;
  background-color: white;
  margin-left: 30px;
  display: none;
  border-radius: 10px;
  border-style: solid;
}
#dot3{
  height: 10px;
  width: 10px;
  background-color: white;
  margin-left: 30px;
  display: none;
  border-radius: 10px;
  border-style: solid;
}
.slider1{
  display: none;
  display: flex;
  width: 50%;
  height: 13%;
  margin-left: 10%;
}
#höger{
    display: none;
    background-color: DodgerBlue;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 7px 8px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border:0px;
    height: 20px;
  }
#vänster{
  display: none;
  background-color: DodgerBlue;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 7px 8px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border:0px;
  height: 20px;
}
#bildspel{
  display: none;
  background-color: DodgerBlue;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 7px 8px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border:0px;
  height: 20px;
}
#paus{
  display: none;
  background-color: DodgerBlue;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 7px 8px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border:0px;
  height: 20px;
}
.sidebar-right {
  grid-area: sidebar-2;
  background-color: red;
  background-image: url("../bilder/träplank.jpg");
}
#wrapper {
height: 100vh;
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 20% 5% 80% 10%;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "sidebar-1 main main sidebar-2"
    "footer footer footer footer";
}
@media only screen and (max-width: 1050px) {
  #wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 5% 290% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }
  #pizzacontainer div{
    width: 45%;
    height: 250px;
  }
  #logga{
    margin-left: 35%;
  }
  #infotext{
    width: 60%;
    height: 20%;
  }
  #maps{
    width: 60%;
    padding-top: 10%;;
  }
  #window{
    display: flex;
    flex-wrap: wrap;

  }
#containerslider{
  margin-left: 35%;
}
}
@media only screen and (max-width: 845px) {
  #wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 5% 290% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }
  #logga{
    margin-left: 25%;
  }
  #stämpel{
    margin-left: 0%;
  }
  .dropbtn{
    padding-left: 25%;
  }
  #containerslider{
    margin-left: 25%;
  }

}
@media only screen and (max-width: 750px) {
  #wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 5% 290% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }
  #logga{
    margin-left: 25%;
  }
  #stämpel{
    margin-left: 0%;
    width: 150px;
  }
  .dropbtn{
    padding-left: 25%;
  }

  #pizzacontainer div{
    width: 70%;
    height: 150px;
  }
}
  @media only screen and (max-width: 600px) {
    #wrapper {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 20% 5% 290% 10%;
      grid-template-areas:
      "header header header"
      "nav nav nav"
      "sidebar-1 main sidebar-2"
      "footer footer footer";
    }
    #logga{
      margin-left: 30%;
    }
    #stämpel{
      margin-left: 0%;
      width: 150px;
    }
#infotext{
  height: 25%;
}
#containerslider{
  margin-left: 20%;
}

}
  @media only screen and (max-width: 540px) {
    #wrapper {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 20% 5% 290% 10%;
      grid-template-areas:
      "header header header"
      "nav nav nav"
      "sidebar-1 main sidebar-2"
      "footer footer footer";
    }
    #logga{
      margin-left: 24%;
      width: 150px;

    }
    #stämpel{
      margin-left: 0%;
      width: 150px;
    }
    #pizzacontainer div{
      width: 70%;
      height: 150px;
    }
.dropbtn{
  padding-left: 25%;
  }
  #infotext{
    width: 50%;
  }
  #maps{
    height: 40%;
  }
  #infotext{
    height: 40%;
  }
  #containerslider{
    margin-left: 10%;
  }

}
@media only screen and (max-width: 490px) {
  #wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 5% 290% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }
  #infotext{
    height: 60%;
  }
  #containerslider{
    margin-left: 0%;
  }
}
