header {
  grid-area: header;
  background-color: black;


}
#logga{
  margin-left: 42%;
  width:200px;
  height: 150px;
  background: url('../bilder/LoggaOchStämpel1.jpg') 0 0;

}
#stämpel{
  width: 150px;
  height: 150px;
  background: url('../bilder/LoggaOchStämpel1.jpg') -200px 0;
  margin-left: 15%;
}
nav{
  grid-area: nav;
  background-color: #660000;

}
.dropbtn {
  background-color: white;

  height: 27px;
  width: auto;
  border: none;
  cursor: pointer;
  padding-left: 20%;
}

.dropdown {

  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {

  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

footer {
  grid-area: footer;
  background-color: #1a0000;
}

.sidebar-left {
  grid-area: sidebar-1;
  background-color: red;
  background-image: url("../bilder/träplank.jpg");
}

main {
  grid-area: main;
  background-color: black;
}
#startcontainer{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
#pizzacontainer{
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
#pizzacontainer2{
  height: 100%;
  width: 100%;
  background-color: black;
  display: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
#favpizzor{


  margin-left: 40%;
}
#favpizztext{
  color: white;
  margin-left: 30%;
}
#pizzacontainer div{
  margin: 1%;
  width: 30%;
  background-color: white;
  border-style: solid;
}
#pizzacontainer2 div{
  margin: 1%;
  width: 30%;
  background-color: white;
  border-style: solid;
}

#containerslider{
  margin-left: 10%;
}
#fakta{
  width: 100%;
  height: 40%;
  margin-left: 10%;
  margin-top: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
#maps{
  width: 30%;
  height: 70%;

}
iframe{
width:100%;
height:100%;
border:0px;
}
#infotext{
  width: 30%;
  height: 75%;
  background-color: white;
  margin-top: 2%;
  border-radius: 4%;

}
#window{

  height: 200px;
  width: 200px;

}

#imgs{

  height: 200px;
  width: 608px;
  position: relative;

}


.dot{

  display: flex;

}
#dot1{
  height: 10px;
  width: 10px;
  background-color: white;
  margin-left: 45px;
  display: none;
  border-radius: 10px;
  border-style: solid;
}
#dot2{
  height: 10px;
  width: 10px;
  background-color: white;
  margin-left: 30px;
  display: none;
  border-radius: 10px;
  border-style: solid;
}
#dot3{
  height: 10px;
  width: 10px;
  background-color: white;
  margin-left: 30px;
  display: none;
  border-radius: 10px;
  border-style: solid;
}
.slider1{
  display: none;
  display: flex;
  width: 50%;
  height: 13%;
  margin-left: 10%;
}
#höger{
    display: none;
    background-color: brown;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 7px 8px;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border:0px;
    height: 20px;
  }
#vänster{
  display: none;
  background-color: brown;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 7px 8px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border:0px;
  height: 20px;
}
#bildspel{
  display: none;
  background-color: brown;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 7px 8px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border:0px;
  height: 20px;
}
#paus{
  display: none;
  background-color: brown;
  border: none;
  border-radius: 25px;
  color: white;
  padding: 7px 8px;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  border:0px;
  height: 20px;
}
.sidebar-right {
  grid-area: sidebar-2;
  background-color: red;
  background-image: url("../bilder/träplank.jpg");
}

#box1{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza1.jpg");
  color: yellow;
  font-style: oblique;
  height: 175px;
}

#box2{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza2.jpg");
  color: yellow;
  font-style: oblique;
  height: 175px;
}
#box3{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza3.jpg");
  color: yellow;
  font-style: oblique;
  height: 175px;
}
#box4{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza4.jpg");
  color: yellow;
  font-style: oblique;
  height: 175px;
}
#box5{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza5.jpg");
  color: yellow;
  font-style: oblique;
  height: 175px;
}
#box6{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza6.jpg");
  color: yellow;
  font-style: oblique;
  height: 175px;
}
#box7{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza7.jpg");
  color: yellow;
  font-style: oblique;
  height: 175px;
}
#box8{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza8.jpg");
  color: yellow;
  font-style: oblique;
  height: 175px;
}
#box9{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza9.jpg");
  color: yellow;
  font-style: oblique;
  height: 175px;
}
#favtext{
  color: white;
  margin-left: 20%;
}
#favinput{
  margin-left: 40%;
}
.favoriter{
  height: 154px;
  width: 220px;
}
#rubriker3{
  color: white;
  display: none;
  margin-left: 10px;
}
.mobil{
  color: white;
  display: none;
  margin-left: 10px;
}
.mobilknapp{
  display: none;
  margin-left: 10px;
}
#rubriker3-2{
  color: white;

  margin-left: 10px;
}
.mobil-2{
  color: white;

  margin-left: 10px;
}
.mobilknapp-2{

  margin-left: 10px;
}
#kostnad{
  height: 10%;
  width: 10%;
  color: white;
  padding-left: 60%;
  display: none;
}
#bestpizz{
  margin-left: 20%;
}
#stjärna1f{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza1.jpg");
  color: yellow;
  font-style: oblique;
  display: none;
}

#stjärna2f{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza2.jpg");
  color: yellow;
  font-style: oblique;
  display: none;
}
#stjärna3f{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza3.jpg");
  color: yellow;
  font-style: oblique;
  display: none;
}
#stjärna4f{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza4.jpg");
  color: yellow;
  font-style: oblique;
  display: none;
}
#stjärna5f{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza5.jpg");
  color: yellow;
  font-style: oblique;
  display: none;
}
#stjärna6f{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza6.jpg");
  color: yellow;
  font-style: oblique;
  display: none;
}
#stjärna7f{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza7.jpg");
  color: yellow;
  font-style: oblique;
  display: none;
}
#stjärna8f{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza8.jpg");
  color: yellow;
  font-style: oblique;
  display: none;
}
#stjärna9f{
  position: relative;
  text-align: center;
  background-image: url("../bilder/pizza9.jpg");
  color: yellow;
  font-style: oblique;
  display: none;
}

.läggtill{
  position: absolute;
  bottom: 8px;
  left: 16px;
  display: none;

}
.store{
  display: none;
}
.total{
  color: white;
}
#beställningsidacontainer{
  width: 100%;
  height: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

}
#köpknapp{
  margin-left: 20%;
}
#extrabeställning{
  width: 350px;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  display: none;
}
#rubriker{
  color: white;
}
#rubriker2{
  color: white;
  display: none;
}
.tillägg, .tilläggcontainer {
  float: left;
  width: 100px;
  height: 55px;
  margin: 5px;
  padding: 5px;
  border: 6px solid #660000;
  background-color: white;
  text-align: center;
}
#stjärna1{
  display: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-color: black;
  cursor: pointer;
}
#stjärna2{
  display: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-color: black;
  cursor: pointer;
}
#stjärna3{
  display: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-color: black;
  cursor: pointer;
}
#stjärna4{
  display: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-color: black;
  cursor: pointer;
}
#stjärna5{
  display: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-color: black;
  cursor: pointer;
}
#stjärna6{
  display: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-color: black;
  cursor: pointer;
}
#stjärna7{
  display: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-color: black;
  cursor: pointer;
}
#stjärna8{
  display: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-color: black;
  cursor: pointer;
}
#stjärna9{
  display: none;
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-color: black;
  cursor: pointer;
}

#wrapper {
height: 100vh;
  display: grid;
  grid-template-columns: 15% 35% 35% 15%;
  grid-template-rows: 20% 5% 80% 10%;
  grid-template-areas:
    "header header header header"
    "nav nav nav nav"
    "sidebar-1 main main sidebar-2"
    "footer footer footer footer";
}
@media only screen and (max-width: 2000px) {
  #wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 5% 100% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }
}
@media only screen and (max-width: 1050px) {
  #wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 5% 290% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }
#favpizzor{
margin-left: 35%;
}
#favpizztext{
  margin-left: 20%;
}
  #pizzacontainer div{
    width: 45%;
    height: 250px;
  }
  #pizzacontainer2 div{
    width: 45%;
    height: 250px;
  }
  #logga{
    margin-left:40%;
  }
  #stämpel{
    margin-left: 0%;
  }
  #infotext{
    width: 60%;
    height: 20%;
  }
  #maps{
    width: 60%;
    padding-top: 10%;;
  }
  #window{
    display: flex;


  }
#containerslider{
  margin-left: 35%;
}
}
@media only screen and (max-width: 845px) {
  #wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 5% 290% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }
  #logga{
    margin-left: 38%;
  }
  #stämpel{
    margin-left: 0%;
  }
  .dropbtn{
    padding-left: 25%;
  }
  #containerslider{
    margin-left: 25%;
  }
  #favpizzor{
  margin-left: 30%;
  }
  #favpizztext{
    margin-left: 10%;
  }
}
@media only screen and (max-width: 750px) {
  #wrapper {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 5% 290% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }

  #extrabeställning{
    margin-left: 20%;
  }

  #knapp{
    margin-left: 25%;
  }
  #logga{
    margin-left: 20%;
  }

  .dropbtn{
    padding-left: 25%;
  }

  #pizzacontainer div{
    width: 70%;
    height: 150px;
  }
  #pizzacontainer2 div{
    width: 70%;
    height: 150px;
  }
  #favpizzor{
  margin-left: 20%;
  }
}
  @media only screen and (max-width: 600px) {
    #wrapper {
      display: grid;
      grid-template-columns: 20% 60% 20%;
      grid-template-rows: 20% 5% 290% 10%;
      grid-template-areas:
      "header header header"
      "nav nav nav"
      "sidebar-1 main sidebar-2"
      "footer footer footer";
    }
    #extrabeställning{
      margin-left: 10%;
    }

#infotext{
  height: 25%;
}
#containerslider{
  margin-left: 20%;
}

}
  @media only screen and (max-width: 540px) {
    #wrapper {
      display: grid;
      grid-template-columns: 10% 80% 10%;
      grid-template-rows: 20% 5% 290% 10%;
      grid-template-areas:
      "header header header"
      "nav nav nav"
      "sidebar-1 main sidebar-2"
      "footer footer footer";
    }
    #extrabeställning{
      margin-left: 10%;
    }
    #kortnummer{
      margin-left: 20%;
    }
    #logga{
      margin-left: 0%;
    }


.dropbtn{
  padding-left: 25%;
  }
  #infotext{
    width: 50%;
    height: 25%;
  }
  #maps{
    height: 40%;
  }



}
@media only screen and (max-width: 400px) {
  #wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 5% 290% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }
  #rubriker{
    display: none;
  }
  #rubriker2{
    padding: 5%;
    display: block;
  }
  #infotext{
    height: 40%;
  }
  #containerslider{
    margin-left: 2%;
  }
  #logga{
    margin-left: 20%;
  }

}
@media only screen and (max-width: 380px) {
  #wrapper {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 20% 5% 290% 10%;
    grid-template-areas:
    "header header header"
    "nav nav nav"
    "sidebar-1 main sidebar-2"
    "footer footer footer";
  }
  #extrabeställning{
    margin-left: 0%;
  }

  #logga{
    margin-left: 0%;
    width: 50%;

  }
  #stämpel{
    width: 45%;
  }

  .tillägg, .tilläggcontainer {

    width: 90px;
    height: 55px;

  }
}
